<header>
    <h1>catList Creator</h1>
</header>
<main>
    <h2>Cat Lists</h2>
  <ul class="list-cards">
    <% @lists.each do |list| %>
        <%= link_to list.skill, list_path(list) %>
      </li>
    <% end %>
    <li>
      <%= link_to 'add list', new_list_path %>
    </li>
  </ul>
</main>
